
body {
    font-family: "Happy Monkey", serif;
    color: #fff;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black
}

#header {
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

#main-logo {
    width: 100px;
    border-radius: 50%;
}

.fruit-veg, .store-cupboard, .meats, .dairy, .nibbles, .pantry, .drinks, .cleaning, .hygiene, .freezer, .bakery, .breakfast, .breads {
    display: grid;
    grid-template-columns: 30px 200px 30px 200px 30px 200px 30px 200px;
    align-items: center;
    row-gap: 13px;
    text-align: left;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

fieldset {
    margin-bottom: 20px;
}

.special-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.potatoes-label {
    margin-left: 10px;
}

.potatoes-input {
    border: black solid 1px;
}

#packs {
    width: 30%;
}
